@import "../../assets/styles/variables.scss";

.highlights {
  width: 100%;
  border: 1px none 1px 1px solid $white;

  &__list {
    display: flex;
    background: $primary-dark;
    background: linear-gradient(
      90deg,
      $primary-dark 0%,
      $primary-light 30%,
      $background 60%,
      transparent 100%
    );

    &__item {
      color: $white;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      padding: 10px 15px;
      border-right: 1px solid $white;

      &__stats {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        &-icon {
          max-height: 20px;
        }
      }
    }
  }
}

ul li:last-child {
  border-right: none;
}

@media screen and (min-width: 300px) and (max-width: 1400px) {
  .highlights__list {
    background: linear-gradient(
      90deg,
      $primary-dark 0%,
      $primary-light 50%,
      $background 100%
    );

    overflow-x: scroll;
  }
}
