$primary-dark: #191c22;
$primary-light: #545455;
$background: #75727c;
$neutral: #31363f;
$hover: #76abae;
$text-dark: #dbd5d5;
$white: #ffffff;

$radius-large: 72px;
$radius-medium: 32px;
$radius-small: 16px;
$radius-tiny: 8px;

$title-large: 4.5rem;
$title-medium: 2rem;
$title-small: 1.5rem;

$copy-large: 1.125rem;
$copy-small: 1rem;

$title-font: "Manrope", sans-serif;
$transition: all 0.3s ease-in-out;

$grid-columns: 12;
$grid-rows: 6;
