@import "../../assets/styles/variables.scss";

.loading {
  width: 100%;
  height: auto;
  background-color: gray;
  display: block;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.card {
  width: 200px; // used in mediaqueries
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: $neutral;
  border-radius: $radius-tiny;
  color: $text-dark;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
  }

  &__image-container {
    min-width: calc(200px - 2 * 5px); // used in mediaqueries
  }

  &__image {
    width: 100%;
    border-radius: calc($radius-tiny / 2);
    object-fit: cover;
    transition: filter 0.3s ease;
  }

  &__content {
    row-gap: 24px;
    display: flex;
    flex-direction: column;
  }

  &__info {
    &-title {
      font-size: $copy-large;
      color: $white;
    }
    &-author {
      font-size: $copy-small;
      color: $white;
    }

    &-title,
    &-author {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__options {
    display: flex;
    flex-direction: row;
  }

  &__rating-star-icon,
  &__options-book-icon,
  &__options-video-icon {
    height: 14px;
    padding: 0 4px;
    transition: transform 0.3s ease;

    .card:hover & {
      transform: translateY(-2px);
    }
  }
}

.card {
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }

  &__image-loader {
    animation: placeHolderShimmer 1.25s linear infinite forwards;
    background: #f6f6f6;
    background: linear-gradient(
      to right,
      $primary-dark 8%,
      #1d2025 18%,
      $primary-dark 33%
    );
    background-size: 800px calc(200px - 2 * 5px);
    border-radius: calc($radius-tiny / 2);
    height: calc(200px - 2 * 5px);
    position: relative;
  }
}

.card__price{
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .card {
    width: 150px;

    &__image-container {
      min-width: calc(150px - 2 * 5px);
    }

    &__image-loader {
      background-size: 800px calc(150px - 2 * 5px);
      height: calc(150px - 2 * 5px);
    }
  }
}
